---
---

@import "{{ site.theme }}";

p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    color: lightblue;
}

#main_content_wrap {
    margin-right: 10px;
    color: navy;
}
