---
---

@import "{{ site.theme }}";

p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    color: #3D9970;
}

#main_content_wrap {
    margin-left: 10px;
    color: navy;
}

#header_wrap {
    color: lightblue;
}

#project_title {
    color: navy;
}
