---
---

@import "{{ site.theme }}";
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript" ></script>
p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    color: #3D9970;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 940px;
  padding: 10px 10px;
  margin: 0 auto;
}

#header_wrap {
    color: lightblue;
}

#project_title {
    color: lightblue;
}

#main_content {
    margin-left: 120px;
    margin-right: 120px;
}
